$c-black: #000;
$c-offblack: #101020;
$c-chartreuse: #c8ff00;
$c-cyan: #0cf;
$c-gray: #888;
$c-lime: #0f6;
$c-magenta: #fc0068;
$c-orange: #f60;
$c-periwinkle: #a5ddfe;
$c-purple: #60f;
$c-offpurple: #2d0024;
$c-white: #fff;
$c-yellow: #ff0;
