.documentation-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem 0;
    justify-content: space-between;
  }

  &__nav-item {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    width: 50%;
    outline: 1px dotted lime;
    top: 0;
    font-size: 3rem;
    border-bottom: none;
    height: 100%;
    border: 0 !important;
    padding-bottom: 0 !important;
    &--next {
      justify-content: flex-end;
    }

    &:hover {
      opacity: 0.9;
      cursor: pointer;
      border-bottom: none;
      border: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  &__content {
    width: 100%;
  }
}
