@import "../_media";

.docs-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  // list-style: none;
  &__submenu {
    padding-inline-start: 1rem;
    li {
      list-style-type: lower-alpha;
    }
  }

  &__menu-item-link {
    &--active {
      color: cyan !important;
      text-shadow: 0 1px 10px cyan !important;
      border-bottom: 4px solid transparent !important;
      padding-bottom: 0.5rem;
    }
  }
  @media screen and (min-width: $breakpoint-md) {
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    padding: 0;
  }
}
