$lineHeight: 1.5rem;

.code {
  display: block;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.5rem;
  padding: 1rem;
  white-space: break-spaces;
  min-height: 5rem;

  &__line {
    height: $lineHeight;
  }

  &__syntax {
    &--keyword {
      font-weight: bold;
      color: rgb(221, 136, 0);
    }
    &--literal,
    &--literal * {
      color: rgb(165, 221, 254) !important;
      opacity: 1 !important;
    }
    &--special {
      font-weight: bold;
      color: rgb(165, 221, 254);
    }
    &--constructor {
      font-weight: bold;
      color: rgb(200, 255, 0);
    }
    &--type {
      font-weight: bold;
      color: #fc0068;
    }
    &--function-declaration {
      font-weight: bold;
      color: #fc0068;
    }
    &--comment {
      //color: rgba(255, 255, 255, 0.8);
      color: white;
      opacity: 0.4;

      * {
        color: white;
        font-weight: normal;
      }
    }
  }
}
.code__wrapper {
  position: relative;
  margin-bottom: 2rem;
}
.code__action-button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  z-index: 10;
}
.code__icon {
  max-width: 2rem;
}
