@use "sass:color" as color;

@use "../_colors";
@use "../_media";
@use "../_zindex";

$logoWidth: 6rem;

.mobile-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: background 0.3s 0.3s ease-out;
  z-index: $z-subnav-base;
  &__list {
    list-style: none;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    position: fixed;
    left: 0;
    top: 0;
    z-index: $z-subnav;

    width: 44vw;
    background-color: $c-darkpurple;

    padding: ($NAV_HEIGHT + 2rem) 0.75rem 1rem;
    margin: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.125);

    text-transform: uppercase;
    transition: bottom 0.3s 0.3s ease-out, height 0.3s 0.3s ease-out,
      line-height 0.3s 0.3s ease-out, transform 0.3s 0.3s ease-out,
      opacity 0.3s ease-out, background 0.3s 0.9s ease-out;
    overflow: hidden;
    height: 100vh;
  }
  .nav__item,
  .nav__link {
    width: 100%;
  }
  &--invisible {
    cursor: text;
    pointer-events: none;
    .mobile-nav__list {
      transform: translateX(-50vw);
    }
  }
  &--visible {
    cursor: pointer;
    pointer-events: auto;
    background-color: rgb(1 2 4 / 78%);
    // background-color: rgba(0, 0, 0, 0.5);
    .mobile-nav__list {
      transform: translateX(0);
    }
  }
}
