@use "sass:color";

@mixin link($color) {
  a {
    padding-bottom: 0.25rem;
    border-bottom-color: $color;
    &:hover {
      color: $color;
      text-shadow: 0 1px 10px $color;
      border-bottom-color: color.scale($color, $alpha: -50%);
      border-bottom-width: 6px;
      padding-bottom: 0.75rem;
    }
  }
}

.nav {
  background: linear-gradient(-50deg, #101020, #2d0024);
  background-size: 100% 100vh;
  position: sticky;
  top: 0;
  z-index: 2000;
  padding: 10px 0;
  box-shadow: 0px 2px 46px rgb(0 0 0 / 50%);
  margin: 0 -40px;
  margin-bottom: 50px;
  font-size: 0.9rem;
  font-weight: bolder;

  &__logo {
    filter: invert(100%);
    max-width: 6rem;
    position: absolute;
    top: 1.5rem;
    margin-left: 2.5rem;
  }

  &__list {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    align-content: end;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0.25rem auto;
    left: calc(50% - 2.5rem);
    transform: translateX(-50%);
    position: relative;
    max-width: 38rem;
    align-items: baseline;
  }
  &__item {
    margin: 0.5rem 0.25rem;
    list-style: none;
    display: block;
    &:nth-of-type(1) {
      @include link(#f06);
    }
    &:nth-of-type(2) {
      @include link(#f60);
    }
    &:nth-of-type(3) {
      @include link(#ff0);
    }
    &:nth-of-type(4) {
      @include link(#0f6);
    }
    &:nth-of-type(5) {
      @include link(#0cf);
    }
    &:nth-of-type(6) {
      @include link(#60f);
    }
    /*
    &:nth-of-type(5),
    &:nth-of-type(6) {
      display: none;
      @media screen and (min-width: 640px) {
        display: block;
      }
    }
    */
  }
  &__link {
  }
}
