@use "sass:color";

@mixin link($color) {
  a {
    padding-bottom: 0.25rem;
    border-bottom-color: $color;
    &:hover {
      color: $color;
      text-shadow: 0 1px 10px $color;
      border-bottom-color: color.scale($color, $alpha: -50%);
      border-bottom-width: 1px;
      padding-bottom: 1.8885rem;
    }
  }
}

@keyframes rainbowload {
  0% {
    background: linear-gradient(
      to right,
      #f00 14.29%,
      #ff0 28.57%,
      #0f0 42.86%,
      #0ff 57.14%,
      #00f 71.43%,
      #f0f 85.71%
    );
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-30deg, #180920, #2c0024);
  // background: #200d1f;
  // background: linear-gradient(-50deg, #101020, #2d0024);
  // background-size: 100% 100vh;
  position: sticky;
  top: 0;
  z-index: 20;
  height: 5rem;
  padding: 1rem 0;
  // box-shadow: 0px 2px 46px rgb(0 0 0 / 50%);
  margin: 0;
  margin-bottom: 2rem;
  width: 100%;
  font-size: 0.9rem;
  font-weight: bolder;
  transition: background 0.3s 0.3s ease-out;

  &::after {
    position: absolute;
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    transition: background 0.3s 0.3s ease-out, box-shadow 0.3s ease-out;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.2),
      0 0 5px rgba(255, 255, 255, 0.4), 0 0 9px rgba(255, 255, 255, 0.6),
      0 0 13px rgba(255, 255, 255, 0.8);
    bottom: 0;
  }
  &--loading {
    &::after {
      // animation: rainbowload 0.5s ease-out infinite;
    }
  }
  /*
  &:hover {
    &::after {
      background: #ffa700;
      box-shadow: 0 0 1px rgba(255, 255, 0, 0.2), 0 0 5px rgba(255, 255, 0, 0.4),
        0 0 9px rgba(255, 255, 0, 0.6), 0 0 13px rgba(255, 255, 0, 0.8);
    }
  }
  */

  &__logo {
    filter: invert(100%);
    max-width: 6rem;
    height: 100%;
    min-height: 2rem;
  }

  &__list {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    align-content: end;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0.25rem auto;
    left: calc(50% - 2.5rem);
    transform: translateX(-50%);
    position: relative;
    max-width: 38rem;
    align-items: baseline;
  }
  &__item {
    margin: 0.5rem 0.75rem;
    list-style: none;
    display: block;
    &:nth-of-type(1) {
      @include link(#f06);
    }
    &:nth-of-type(2) {
      @include link(#f60);
    }
    &:nth-of-type(3) {
      @include link(#ff0);
    }
    &:nth-of-type(4) {
      @include link(#0f6);
    }
    &:nth-of-type(5) {
      @include link(#0cf);
    }
    &:nth-of-type(6) {
      @include link(#60f);
    }
    /*
    &:nth-of-type(5),
    &:nth-of-type(6) {
      display: none;
      @media screen and (min-width: 640px) {
        display: block;
      }
    }
    */
  }
  &__link {
    &--logo {
      text-decoration: none;
      border: none;
      margin: 0;
      padding: 0;
      &:hover {
        text-decoration: none;
        margin: 0;
        padding: 0;
      }
    }
    svg {
      fill: white;
    }
    &:hover {
      svg {
        fill: yellow;
      }
    }
  }
}
