@use "sass:color" as color;

@use "colors";
@use "media";

@mixin link($color) {
  .nav__link:hover {
    $text: scale-color($color, $lightness: -20%);
    color: $color;
    text-shadow: $text 0 0 0.25rem;
    .nav__link-icon {
      background-color: $color;
      transform: rotate(180deg);
      filter: invert(0%);
      border-color: transparent;
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  max-width: 100vw;
  top: 0;
  left: 0;
  z-index: 20;
  min-height: 7rem;
  margin: 0;
  width: 100%;
  font-size: 0.9rem;
  font-weight: bolder;
  background: linear-gradient(50deg, #2d0024, #190c20);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  // border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &__logo {
    margin-top: 1rem;
    width: 100%;
    max-height: 3rem;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__list {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    padding-bottom: 0.5rem;
    position: relative;
    align-items: center;
    width: 100%;
  }

  &__link {
    width: 100%;
    padding: 0 0.1rem;
    border: 0;
    border-bottom: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;

    &:hover,
    &:focus,
    &:active {
      border-color: transparent;
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  &__link--logo {
    width: 16rem;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 1rem 0 0.5rem;
    text-shadow: 0 0 0 transparent;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      border: none;
      margin: 0;
      padding: 1rem 0 0.5rem;
      text-shadow: 0 0 0 transparent;
    }
  }
  &__link-icon {
    $size: calc(1.1rem);
    width: $size;
    max-width: $size;
    height: $size;
    max-height: $size;
    // border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
    transition: background 0.3s ease-out 0.1s, transform 0.3s ease-out 0.6s,
      filter 0.3s ease-out, border 0.3s ease-out 0.1s;
    border-radius: 100%;
    margin: 0 0.25rem;
    padding: 0.1rem;
    filter: invert(100%);
  }
  &__item {
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: center;
    &:nth-child(even) {
      justify-content: start;
      .nav__link {
        flex-direction: row;
      }
    }
    &:nth-of-type(1) {
      @include link($c-magenta);
    }
    &:nth-of-type(2) {
      @include link($c-orange);
    }
    &:nth-of-type(3) {
      @include link($c-yellow);
    }
    &:nth-of-type(4) {
      @include link($c-lime);
    }
    &:nth-of-type(5) {
      @include link($c-cyan);
    }
    &:nth-of-type(6) {
      @include link($c-purple);
    }
  }

  &__link-text {
    margin: 0 0.1rem;
    &--summary {
      display: inline;
      @media screen and (min-width: $breakpoint-md) {
        display: none;
      }
    }
    &--detail {
      display: none;
      @media screen and (min-width: $breakpoint-md) {
        display: inline;
      }
    }
  }
  @media screen and (min-width: $breakpoint-md) {
    width: 100%;
    padding: 0 2rem;
    // outline: 1px solid cyan;
    flex-direction: row;
    align-items: start;
    min-height: 6rem;
    margin-bottom: 1rem;
    &__link--logo {
      flex-direction: row;
      width: 14rem;
      margin: 0;
      margin-top: 1.5rem;
      padding: 0;
      padding-right: 0.5rem;
      &:hover,
      &:focus,
      &:active {
        margin: 0;
        margin-top: 1.5rem;
        padding: 0;
        padding-right: 0.5rem;
      }
    }
    &__logo {
      margin: 0;
      padding: 0;
      width: 10rem;
    }
    &__list {
      width: calc(100% - 4rem);
      margin: 0;
      margin-top: 1rem;
      height: 4rem;
      align-items: center;
      // justify-content: center;
    }
    &__item {
      justify-content: center;
      // width: auto;
      width: (100% / 3);
      margin: 0;
      .nav__link {
        flex-direction: row;
      }
      &:nth-of-type(even) {
        justify-content: center;
        .nav__link {
          flex-direction: row;
        }
      }
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    &__item {
      width: auto;
    }
  }
}
