.website {
  .website__header,
  h1,
  h2,
  h3,
  h4,
  h5,
  h5,
  p {
    padding: 0 1rem;
  }
  h1:first-of-type {
    padding: 0 1rem;
  }
}
.website {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5.75rem 0 0;

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.25rem;
    height: 10.5rem;
    width: 100%;
    align-items: center;
    margin: 0 auto 3rem;

    &:hover {
      &::before {
        top: calc(100% - 1rem);
      }
      &::after {
        top: calc(1rem - 100%);
      }

      img {
        animation-name: swing;
      }
    }

    &::before,
    &::after {
      pointer-events: none;
      font-size: 1.1rem;
      color: rgba(255, 255, 255, 0.6);
      content: "#-";
      align-self: flex-start;
      position: relative;
      top: 0%;
      transform: rotate(0deg);
      transition: top 0.5s;
      text-shadow: 0 0 1rem rgba(200, 0, 255, 0.4);
    }
    &::after {
      content: "-#";
      align-self: flex-end;
    }

    p {
      text-align: center;
    }

    img {
      filter: invert(100%);
      max-width: 18.75rem;

      animation-duration: 1.4s;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
    strong {
      color: yellow;
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(255, 255, 0, 0.6);
    }

    blockquote {
      margin: 0;
      padding-left: 0.5rem;
      text-align: center;
      display: inline-block;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }
  }

  &__main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    p {
      // padding-left: 0.5rem;

      // letter-spacing: 0.3px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__page-content {
    width: 100%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__section {
    // max-width: 50rem;
    margin: 0;
    margin-bottom: 3rem;
  }
  &__section-list-item {
    margin-bottom: 0.25rem;
  }
  @media screen and (min-width: $breakpoint-md) {
    padding: 7.75rem 2rem 0;
    .playground {
      margin-bottom: 2rem;
      margin-left: 2rem;
      min-width: 40rem;
    }
    &__main {
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
    }
    &--home {
      .playground {
        margin-left: 0;
      }
    }
    &--the-playground {
    }
    &__content {
      padding-left: 2rem;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        padding: 0;
      }
      p:first-of-type {
        padding-top: 1rem;
      }
    }
  }
  @media screen and (min-width: $breakpoint-xl) {
    &__content {
      max-width: 44rem;
      margin-right: 15vw;
    }
  }
}
