@keyframes swing {
  15% {
    transform: translateY(5px);
  }
  30% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(3px);
  }
  65% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

* {
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  color: white;
  background: #101020;
  margin: 0;
  min-height: 100vh;

  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.7;
}

code {
  white-space: pre;
}

.website {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 40px 0 40px;
}

.website__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  height: 165px;

  &:hover {
    &::before {
      top: calc(100% - 15px) !important;
    }
    &::after {
      top: calc(15px - 100%) !important;
    }

    img {
      animation-name: swing;
    }
  }

  &::before {
    font-size: 0.9rem;
    color: cyan;
    content: "#-";
    align-self: flex-start;
    position: relative;
    top: 0%;
    transform: rotate(0deg);
    transition: top 0.5s;
  }

  &::after {
    font-size: 0.9rem;
    color: cyan;
    content: "-#";
    align-self: flex-end;
    position: relative;
    top: 0%;
    transition: top 0.5s;
  }

  p {
    text-align: center;
  }

  img {
    filter: invert(100%);
    max-width: 300px;

    animation-duration: 1.4s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  blockquote {
    margin: 0;
    border-left: 1px solid #41d3ff;
    padding-left: 0.5rem;
    text-align: center;
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }

  strong {
    color: yellow;
    text-shadow: 0 0 5px rgb(255 255 0 / 50%);
  }
}

.website__main {
  flex-grow: 1;

  p {
    border-left: 1px solid #41d3ff;
    padding-left: 0.5rem;

    letter-spacing: 0.3px;
    font-size: 16px;
  }
}

.website__section {
  margin-bottom: 70px;
}

.website__footer {
  margin: 0 -40px;
  min-height: 80px;
  padding: 10px;
  border-top: 1px solid #41d3ff;
}

.footer__power {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-style: italic;
  font-weight: 100;
}

.footer__link {
  font-style: normal;
  font-weight: 600;
}
