.docs {
  margin-left: -40px;
}

.docs__content {
  margin-left: 220px;
}

.docs__content h1,
.docs__content h2,
.docs__content h3,
.docs__content h4,
.docs__content h5,
.docs__content h6 {
  margin-top: 0;
}
