@import "../views/_media";

.docs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .docs-menu {
    display: flex;
    flex-direction: column;
    outline: 1px dotted cyan;
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
    @media screen and (min-width: $breakpoint-md) {
      min-width: 11rem;
      max-width: 11rem;
      margin-right: 0.5rem;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    // max-width: 48rem;
    h1 {
      margin-bottom: 4rem;
      margin-top: 0;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:not(:first-child) {
        margin-top: 4rem;
      }
      margin-bottom: 1rem;
    }
    h3,
    h4,
    h5,
    h6 {
      &:not(:first-child) {
        margin-top: 1.5rem;
      }
      margin-bottom: 1rem;
    }
    p {
      margin-top: 0;
      margin-bottom: 1rem;
      // max-width: 48rem;
    }
  }

  @media screen and (min-width: $breakpoint-md) {
    flex-direction: row;
  }
}
