.documentation-page {
  display: flex;

  /*
  code {
    display: block;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.5rem;
    padding: 1rem;
    white-space: break-spaces;
  }
  */

  &__previous-page-link,
  &__next-page-link {
    position: fixed;
    text-align: center;
    width: 85px;
    top: 0;
    padding-top: 48vh;
    opacity: 0.2;
    font-size: 48px;
    border-bottom: none;
    height: 100%;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
      border-bottom: none;
    }
  }

  &__previous-page-link {
    transform: translateX(-60px);
  }
  &__next-page-link {
    right: 0;
  }
  &__content {
    width: 100%;
  }
}
