.docs-menu {
  position: fixed;
  margin-top: 0;
  margin-right: 40px;
  padding-right: 20px;
  min-height: 100vh;
  list-style: none;
  padding: 0px 20px 0 0;
}

.docs-menu__menu-item-link--active {
  color: yellow !important;
  text-shadow: 0 1px 10px yellow !important;
  border-bottom: 4px solid transparent !important;
  padding-bottom: 0.5rem;
}
