$z-nine: 9000;
$z-eight: 8000;
$z-seven: 7000;
$z-six: 6000;
$z-five: 5000;
$z-four: 4000;
$z-three: 3000;
$z-two: 2000;
$z-one: 1000;

$z-playpen: 7100;
$z-playpen-edge: 7102;
$z-playpen-container: 7103;
$z-playpen-run-button: 7101;

$z-nav: 9001;
$z-subnav: 8001;
$z-subnav-base: 8000;
$z-base: 1;
