@import "zindex";
@import "fonts";

@keyframes swing {
  15% {
    transform: translateY(5px);
  }
  30% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(3px);
  }
  65% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

* {
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid white;
  padding-bottom: 0;
  text-shadow: 0 0 0 transparent;
  transition: border 0.3s ease-out, color 0.3s ease-out, padding 0.3s ease-out,
    text-shadow 0.3s ease-out;
}
a:hover {
  color: yellow;
  text-shadow: 0 1px 10px yellow;
  border-bottom: 4px solid transparent;
  padding-bottom: 0.5rem;
}

html {
  background-color: #101020;
  z-index: $z-base;
}

body {
  color: white;
  background: linear-gradient(-50deg, #101020, #2d0024);
  background-attachment: fixed;
  margin: 0;
  min-height: 100vh;
  font-size: 16px;
  font-family: $type-body;
  line-height: 1.7rem;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.6);
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: $type-heading;
  text-transform: uppercase;
  // letter-spacing: 0.05rem;
}
h1 {
  font-size: 4rem;
  line-height: 3.8rem;
}
h2 {
  font-size: 3rem;
  line-height: 2.8rem;
}
h3 {
  font-size: 2rem;
  line-height: 1.8rem;
}
h4 {
  font-size: 1.5rem;
  line-height: 1.3rem;
}
h5 {
  font-size: 1rem;
  line-height: 0.8rem;
}
h6 {
  font-size: 0.8rem;
  line-height: 0.6rem;
}

code,
.markdown__inline-code {
  white-space: pre;
  padding: 0.1rem 0.25rem;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
}

.code.code--madlib,
pre code {
  display: block;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.5rem;
  padding: 1rem;
  white-space: break-spaces;
}
